# === Django ===
DEBUG=False
DJANGO_SECRET_KEY=cambia-esto-en-produccion
ENV_TYPE=PROD
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://localhost,http://tu-ip-elastica-aws

# === Celery / Redis ===
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

# === Servicios externos ===
THIRD_PARTY_GAMES_API_URL=https://www.freetogame.com/api/games
ALLY_API_URL=
ALLY_API_TIMEOUT=5

# === Sistema ===
SYSTEM_NAME=UniversalGamePass
SYSTEM_VERSION=2.0.0
